:root {
  --background: rgb(19, 22, 32);
  --light-text: rgb(196, 209, 236);
}

head,
html {
  height: 0;
  width: 0;
}

body {
  background-color: var(--background);
  color: var(--light-text);
  width: 100vw;
  height: 100vh;
  margin: 0;
}
