.shrimp {
  height: 60px;
  position: fixed;
  pointer-events: none;
  image-rendering: pixelated;
  left: calc(var(--shrimpX));
  top: calc(var(--shrimpY));
  transform: translate(-50%, -50%);
  transition: linear var(--velocity);
  border: 1px solid white;
}
